name: Trigger auto deployment for web-victorheras-portfolio

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: [main]
    paths:
      - '**'
      - '.github/workflows/web-victorheras-portfolio-AutoDeployTrigger-98e0ad75-84f0-42d1-bada-9a01a0c76d37.yml'

  # Allow manual trigger
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.WEBVICTORHERASPORTFOLIO_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.WEBVICTORHERASPORTFOLIO_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.WEBVICTORHERASPORTFOLIO_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: ./Dockerfile
          registryUrl: acrvictorherasportfolio.azurecr.io
          registryUsername: ${{ secrets.WEBVICTORHERASPORTFOLIO_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.WEBVICTORHERASPORTFOLIO_REGISTRY_PASSWORD }}
          containerAppName: web-victorheras-portfolio
          resourceGroup: rg-victorheras-portfolio
          imageToBuild: acrvictorherasportfolio.azurecr.io/web-victorheras-portfolio:${{ github.sha }}
