---
import { clsx } from 'clsx';

interface Props {
  class?: string; // Clases extra si hacen falta
  colSpan?: 1 | 2 | 3;
  href?: string;
  title?: string;
}

const { colSpan = 1, href, class: className } = Astro.props;

// Lógica de estilos base
const baseStyles =
  'rounded-3xl bg-neutral-900 border border-neutral-800 p-6 flex flex-col justify-between transition-all duration-300 group overflow-hidden relative';
const hoverStyles = href
  ? 'hover:border-neutral-600 hover:shadow-lg hover:shadow-neutral-900/50 cursor-pointer'
  : '';
const colStyles = {
  1: 'md:col-span-1',
  2: 'md:col-span-2',
  3: 'md:col-span-3',
};

const Tag = href ? 'a' : 'div';
---

<Tag
  href={href}
  class={clsx(
    baseStyles,
    hoverStyles,
    colStyles[colSpan],
    className, // Merge de clases custom
  )}
>
  <div
    class="absolute inset-0 bg-linear-to-br from-white/5 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-500 pointer-events-none"
  >
  </div>

  <slot />
</Tag>
