---
import TechIcon from '../icons/TechIcon.astro';

interface Props {
  name: string;
  colorClass?: string;
}

const { name, colorClass = 'text-(--color-text)' } = Astro.props;
---

<span class="tech-pill">
  <TechIcon name={name} class={`w-4 h-4 ${colorClass}`} />
  {name}
</span>
